In [7]:
#1
s=input()
d=set()
s=s.split()
l=set(s)
print(f"{len(l)} and words are {l}")

d d d d ddd  d d d d     d     d  fg fg
3 and words are {'d', 'ddd', 'fg'}

In [12]:
#2
# here i am taking the user input
n=int(input("enter no of entries: "))
d={}
for i in range(n):
   name=input(f"Enter {i+1} Employee name: ")
   sal=int(input(f"Enter {name} salary: "))
   d[name]=sal
print(d)
t=0
for i in d:
   if d[i]>t:
      t=d[i]
      emp=i
      sa=d[i]
print(f"Name {emp} , Highest salary is {sa}")

enter no of entries: 3
Enter 1 Employee name: dinesh
Enter dinesh salary: 3000
Enter 2 Employee name: sai
Enter sai salary: 2000
Enter 3 Employee name: roopa
Enter roopa salary: 100000
{'dinesh': 3000, 'sai': 2000, 'roopa': 100000}
Name roopa , Highest salary is 100000

In [13]:
#3
s=list(map(int,input().split()))
print(s)
print(f"max is {max(s)} and min is {min(s)}")

1 2 3 4 5 6
[1, 2, 3, 4, 5, 6]
max is 6 and min is 1

In [16]:
#4
c=0
s=list(map(int,input().split()))
for i in s:
  if i>1000:
    c=c+1
print("product above 1000 is: ",c)

4
product above 1000 is:  0

In [23]:
#5
print("enter P or A")
s=list(map(str,input().lower().split()))
print((s.count("p")/len(s))*100)

enter P or A
p p a p p
80.0

In [24]:
#6
s=list(map(int,input().split()))
k=set(s)
print(k)

1 1 1 1 12 2 2 2 2 23 3 3 3
{1, 2, 3, 12, 23}

In [25]:
#7
s=list(map(int,input().split()))
d={}
for i in s:
  if i in d:
    d[i]=d[i]+1
  else:
    d[i]=1
print(d)

2 3 4 5555 5 5 5 5 5 5 5 666 6 6
{2: 1, 3: 1, 4: 1, 5555: 1, 5: 7, 666: 1, 6: 2}

In [26]:
#8
s=list(map(int,input().split()))
t=tuple(s)
print(t)

1 2 3 3 4
(1, 2, 3, 3, 4)

In [28]:
#9
d={"dinesh":20,"sai":30,"roopa":40}
if "dinesh" in d:
   print("Employee Exists")
else:
  print("employee not exists")

Employee Exists

In [30]:
#10
s=list(map(int,input().split()))
print(sum(s)/len(s))

2 3 4 5
3.5